<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.event_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %>
          <% if event.draft? %>
             <span class="label label-warning label-pill">Nháp</span>
          <% end %>
        </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
      </div>
      <div class="card-block">
        <%= link_to edit_user_event_path(current_user, event), class: "card-link" do %>
          <i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Sửa</a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
