<ul class="nav nav-pills nav-stacked">
  <li class="nav-item">
    <% if event.id %>
      <%= link_to "Thông tin sự kiện", edit_user_event_path(current_user, event), class: "nav-link #{'active' if section == 'event-info'}" %>
    <% else %>
      <a href="#" class="nav-link active">Thông tin sự kiện</a>
    <% end %>
  </li>
  <li class="nav-item">
    <% if event.id %>
      <%= link_to "Thông tin vé", event_ticket_types_path(event), class: "nav-link #{'active' if section == 'ticket-info'}" %>
    <% else %>
      <a href="#" class="nav-link">Thông tin vé</a>
    <% end %>
  </li>
</ul>
