<div class="container header pad-top-80">
  <h2> Sự kiện đã tạo </h2>
</div>
<div class="container-fluid body events-list">
  <% @events.in_groups_of(2) do |g| %>
    <div class="row">
      <% g.compact.each do |e| %>
        <%= render partial: 'card', locals: {event: e} %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
