body {
  font-family: 'Roboto Condensed', sans-serif;
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}
.btn-primary {
  color: #fff;
  background-color: #66a502;
  border-color: #529b01;
  &:hover {
    color: #fff;
    background-color: #14a502;
    border-color: #019b22;
  }
}
.pad-top-80 {
  padding-top: 80px;
}
.form-control:focus {
  border-color: #8ce966;
}
.text-center {
  text-align: center;
}
.alert {
  margin-bottom: 0;
}
select {
  height: 2.5rem;
}
